body
{
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: "arial";
	background-color: #F7FFC9;
	background-image: url(../gfx/common/background_plain.gif);
	background-repeat:  repeat;		
}
h1 {
    color: #000000;
    font-family: 'arial';
    font-size: 14px;
    text-align: center;
    background-color: #FAFF6B;
	background-repeat:  repeat;	
	border: 5 #000000 solid;
	}

div {
    background-repeat: no-repeat;
}

#content
{
	  margin-left: auto;
      	margin-right: auto;
	  width : 980px;
	  background-color  : #FFFFFF;
	  padding: 0;
}

#content_pdf
{
	  margin-left: 10px;
}

td#left1
{
	padding: 0;
	width: 190px;
	height: 133px;
	background-image: url("../gfx/sidebar_left/l1.png");
    	background-repeat: no-repeat;
}

td#left1 select
{
	width: 110px;
	margin-top: 25px;
	margin-left: 15px;
}

.left2group1, .left2group01
{
	padding: 0;
	width: 190px;
	height: 210px;
	background-image: url("../gfx/sidebar_left/l2.png");
    	background-repeat: no-repeat;
}

.left2group2, .left2group02
{
	padding: 0;
	width: 190px;
	height: auto;
    background-color: #FAFF6B;
    border: 3px solid #000;
    border-radius: 10px;
    /* background-image: url(../gfx/sidebar_left/l2empty.png); */
    /* background-repeat: no-repeat; */
    
}

.left2group3, .left2group03
{
	padding: 0;
	width: 190px;
	height: auto;
    background-color: #FAFF6B;
    border: 3px solid #000;
    border-radius: 10px;
/*	padding: 0;
	width: 190px;
	height: 210px;
	background-image: url("../gfx/sidebar_left/l2empty.png");
    	background-repeat: no-repeat*/;
}

.left2help
{
	padding: 0;
	width: 190px;
	height: 210px;
	background-image: url("../gfx/sidebar_left/l2-help.png");
    	background-repeat: no-repeat;
}

td#left2 table
{
	margin-top: 0px;
	margin-left: 5px;	
}

td#left2 select
{
	margin-top: 30px;
	margin-left: 5px;
}

.left3
{
	padding: 0;
	width: 190px;
	height: 250px;
    background-color: #FAFF6B;
    border: 3px solid #000;
    border-radius: 10px;
	/*background-image: url("../gfx/sidebar_left/l3.png");*/
    	background-repeat: no-repeat;
}

.left3help
{
	padding: 0;
	width: 190px;
	height: 250px;
	background-image: url("../gfx/sidebar_left/l3-help.png");
    	background-repeat: no-repeat;
}

td#left3 select
{
	width: 152px;
}

td#left4
{
	padding-top: 4px;
	width: 190px;
	height: 40px;
}

.tablerow1grade
{
	height: 60px;
}
.tablerow3grade
{
	height: 60px;
}
.tablerow1stud
{
	height: 40px;
}
.tablestep2
{
	border-spacing: 4px;
	padding-left: 4px; 
	padding-top: 20px;
}
.tablestep3
{
	border-spacing: 7px;
	padding-left: 0px; 
	padding-top: 20px;
}

/*.uploadsubmit
{
	margin-top: 20px;
	margin-left: 8px;	
}*/

.uploadnamessubmit
{
	margin-top: 7px;
	margin-left: 15px;	
}

.button
{	
	background-color:#FAFF6B;
	border: 3px;
	border-style: solid;
	-moz-border-radius: 13px;
	border-radius: 13px;
	padding: 0;
	width: 181px;
	height: 40px;
	background-position: left center;
	margin-left: 3px;
	margin-bottom: 20px;
}

.button:hover 
{
	background-color:#FCFFC1;
	border: 3px;
	border-style: solid;
	-moz-border-radius: 13px;
	border-radius: 13px;
	padding: 0;
	width: 181px;
	height: 40px;
	background-position: left center;
	margin-left: 3px;
}

.u1 {
	position:absolute;
	left:16px;
	top:0px;
	width:82px;
	height:16px;
	font-family:Arial;
	text-align:left;
}

.u3 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    font-family:Arial;
    text-align:left;
}

.sheet_click	
{
	float:right;
	margin-bottom:10px;
}
.custom-tablestep2 td.left2group02 select {
    margin-top: -5px !important;
    margin-left: -5px !important;
    width: 100%;
    /*max-width: 136px; */
}
td.left2group03 select {
    margin-top: -5px !important;
    margin-left: -5px !important;
    width: 100%;
    /*max-width: 136px;*/
}
