.tableTitle {
	font-size: 15px;
	margin-left: 35%;
}
a {

    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
/*.tablestep2 {
	width: 100%;
}*/
a.nextDivFirst {
    margin-right: 3% !important;
}
a.nextDiv {
    margin-right: 10%;
}

#tablestep3 {
	
    border-spacing: 4px;
    padding-left: 4px;
    padding-top: 20px;
}
