/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/* `
----------------------------------------------------------------------------------------------------

For Web-Fonts:

	Search for font-family:
*/


/* `
----------------------------------------------------------------------------------------------------*/

body
{
	font: 13px/1.5 'Helvetica Neue' , Arial, 'Liberation Sans' , FreeSans, sans-serif;
}

pre, code
{
	font-family: 'DejaVu Sans Mono' , Monaco, Consolas, monospace;
}

hr
{
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1
{
	font-family: 'Morris Sans W01 Medium';    /* WEB-FONTS */
	font-size: 35px;
	text-align: center;
	color: #FFFBFF;
}

h2
{
	font-family: 'Morris Sans W01 Medium';
	font-weight:bolder;
	font-size: 25px;
	text-align: center;
	color: #FFFBFF;
}

h3
{
	font-family: 'Morris Sans W01 Medium';
	font-weight:bolder;
	font-size: 26px;
	color: #B1D4F3;
	text-align: center;
	color: #8BB7D0;

}

h4
{
	font-family: 'Morris Sans W01 Medium';
	font-size: 18px;
	font-weight:normal;
	color: red;
	background-image: url(../gfx/common/background_pattern.gif);
	text-align: center;
	margin-top: 0px;
}

h5
{
	font-family: 'Morris Sans W01 Medium';
	padding: 5px;
	text-transform: uppercase;
	font-size: 110%;
	color: #476042;
}

h6
{
	font-family: 'Morris Sans W01 Medium';
	font-weight:bolder;
	font-size: 20px;
}

h7
{
	color: #476042;
	letter-spacing: 1px;
	text-align: center;
	font-weight: bold;
}
h8
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #000000;
	line-height: 0.5em;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol
{
	list-style: decimal;
}

ul
{
	list-style: disc;
}

li
{
	margin-left: 30px;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure
{
	margin-bottom: 0px;
}

p
{
	font-family: 'Arial';   /* WEB-FONTS BasicCommercialW01-Ligh */
}
